In [1]:
import numpy as np
import re
import pandas as pd
from matplotlib import pyplot as plt

In [2]:
df = pd.read_csv("E:\ML\ML Dataset\Telco-Customer-Churn.csv")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
customerID          7043 non-null object
gender              7043 non-null object
SeniorCitizen       7043 non-null int64
Partner             7043 non-null object
Dependents          7043 non-null object
tenure              7043 non-null int64
PhoneService        7043 non-null object
MultipleLines       7043 non-null object
InternetService     7043 non-null object
OnlineSecurity      7043 non-null object
OnlineBackup        7043 non-null object
DeviceProtection    7043 non-null object
TechSupport         7043 non-null object
StreamingTV         7043 non-null object
StreamingMovies     7043 non-null object
Contract            7043 non-null object
PaperlessBilling    7043 non-null object
PaymentMethod       7043 non-null object
MonthlyCharges      7043 non-null float64
TotalCharges        7043 non-null object
Churn               7043 non-null object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [4]:
df['PhoneService'].value_counts()

Yes    6361
No      682
Name: PhoneService, dtype: int64

In [5]:
df = df.drop('customerID' , axis= 1)
#df = df.drop('PhoneService' , axis = 1)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 20 columns):
gender              7043 non-null object
SeniorCitizen       7043 non-null int64
Partner             7043 non-null object
Dependents          7043 non-null object
tenure              7043 non-null int64
PhoneService        7043 non-null object
MultipleLines       7043 non-null object
InternetService     7043 non-null object
OnlineSecurity      7043 non-null object
OnlineBackup        7043 non-null object
DeviceProtection    7043 non-null object
TechSupport         7043 non-null object
StreamingTV         7043 non-null object
StreamingMovies     7043 non-null object
Contract            7043 non-null object
PaperlessBilling    7043 non-null object
PaymentMethod       7043 non-null object
MonthlyCharges      7043 non-null float64
TotalCharges        7043 non-null object
Churn               7043 non-null object
dtypes: float64(1), int64(2), object(17)
memory usage: 1.1+ MB

# Preprocessing Data

In [6]:
df.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,Male,0,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,Female,0,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [7]:
from sklearn.preprocessing import LabelEncoder
lencoder = LabelEncoder()

In [8]:
for i  in range(0,len(df)):
    if(df['TotalCharges'][i] == ' '):
        df = df.drop([i])

In [9]:
df['gender'] = pd.get_dummies(df['gender'],drop_first= True)
df['Churn'] = pd.get_dummies(df['Churn'],drop_first=True)
df['Partner'] = pd.get_dummies(df['Partner'],drop_first=True)
df['Dependents'] = pd.get_dummies(df['Dependents'],drop_first=True)
df['PhoneService'] = pd.get_dummies(df['PhoneService'],drop_first=True)

In [10]:
df['OnlineSecurity'] = lencoder.fit_transform(df['OnlineSecurity'])
df['OnlineBackup'] = lencoder.fit_transform(df['OnlineBackup'])
df['DeviceProtection'] = lencoder.fit_transform(df['DeviceProtection'])
df['TechSupport'] = lencoder.fit_transform(df['TechSupport'])
df['StreamingTV'] = lencoder.fit_transform(df['StreamingTV'])
df['StreamingMovies'] = lencoder.fit_transform(df['StreamingMovies'])
df['Contract'] = lencoder.fit_transform(df['Contract'])
df['PaperlessBilling'] = lencoder.fit_transform(df['PaperlessBilling'])
df['PaymentMethod'] = lencoder.fit_transform(df['PaymentMethod'])
df['MultipleLines'] = lencoder.fit_transform(df['MultipleLines'])
df['InternetService'] = lencoder.fit_transform(df['InternetService'])

In [11]:
df

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,0,0,1,0,1,0,1,0,0,2,0,0,0,0,0,1,2,29.85,29.85,0
1,1,0,0,0,34,1,0,0,2,0,2,0,0,0,1,0,3,56.95,1889.5,0
2,1,0,0,0,2,1,0,0,2,2,0,0,0,0,0,1,3,53.85,108.15,1
3,1,0,0,0,45,0,1,0,2,0,2,2,0,0,1,0,0,42.30,1840.75,0
4,0,0,0,0,2,1,0,1,0,0,0,0,0,0,0,1,2,70.70,151.65,1
5,0,0,0,0,8,1,2,1,0,0,2,0,2,2,0,1,2,99.65,820.5,1
6,1,0,0,1,22,1,2,1,0,2,0,0,2,0,0,1,1,89.10,1949.4,0
7,0,0,0,0,10,0,1,0,2,0,0,0,0,0,0,0,3,29.75,301.9,0
8,0,0,1,0,28,1,2,1,0,0,2,2,2,2,0,1,2,104.80,3046.05,1
9,1,0,0,1,62,1,0,0,2,2,0,0,0,0,1,0,0,56.15,3487.95,0
10,1,0,1,1,13,1,0,0,2,0,0,0,0,0,0,1,3,49.95,587.45,0
11,1,0,0,0,16,1,0,2,1,1,1,1,1,1,2,0,1,18.95,326.8,0
12,1,0,1,0,58,1,2,1,0,0,2,0,2,2,1,0,1,100.35,5681.1,0
13,1,0,0,0,49,1,2,1,0,2,2,0,2,2,0,1,0,103.70,5036.3,1
14,1,0,0,0,25,1,0,1,2,0,2,2,2,2,0,1,2,105.50,2686.05,0
15,0,0,1,1,69,1,2,1,2,2,2,2,2,2,2,0,1,113.25,7895.15,0
16,0,0,0,0,52,1,0,2,1,1,1,1,1,1,1,0,3,20.65,1022.95,0
17,1,0,0,1,71,1,2,1,2,0,2,0,2,2,2,0,0,106.70,7382.25,0
18,0,0,1,1,10,1,0,0,0,0,2,2,0,0,0,0,1,55.20,528.35,1
19,0,0,0,0,21,1,0,1,0,2,2,0,0,2,0,1,2,90.05,1862.9,0
20,1,1,0,0,1,0,1,0,0,0,2,0,0,2,0,1,2,39.65,39.65,1
21,1,0,1,0,12,1,0,2,1,1,1,1,1,1,1,0,0,19.80,202.25,0
22,1,0,0,0,1,1,0,2,1,1,1,1,1,1,0,0,3,20.15,20.15,1
23,0,0,1,0,58,1,2,0,0,2,0,2,0,0,2,1,1,59.90,3505.1,0
24,1,0,1,1,49,1,0,0,2,2,0,2,0,0,0,0,1,59.60,2970.3,0
25,0,0,0,0,30,1,0,0,2,2,0,0,0,0,0,1,0,55.30,1530.6,0
26,1,0,1,1,47,1,2,1,0,2,0,0,2,2,0,1,2,99.35,4749.15,1
27,1,0,1,1,1,0,1,0,0,2,0,0,0,0,0,0,2,30.20,30.2,1
28,1,0,1,0,72,1,2,0,2,2,2,2,2,2,2,1,1,90.25,6369.45,0
29,0,0,0,1,17,1,0,0,0,0,0,0,2,2,0,1,3,64.70,1093.1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7013,0,0,0,0,40,1,2,1,0,2,2,0,2,0,0,1,0,93.40,3756.4,0
7014,1,0,0,0,41,1,2,1,0,2,0,0,2,0,0,1,2,89.20,3645.75,0
7015,1,1,1,0,34,1,0,1,0,0,2,0,2,0,0,1,1,85.20,2874.45,0
7016,0,0,0,0,1,1,0,0,0,2,0,0,0,0,0,0,2,49.95,49.95,0
7017,0,0,0,0,51,1,0,2,1,1,1,1,1,1,2,0,0,20.65,1020.75,0
7018,1,0,1,1,1,1,0,1,0,0,0,0,0,0,0,1,3,70.65,70.65,1
7019,0,0,0,0,39,1,0,2,1,1,1,1,1,1,2,0,3,20.15,826,0
7020,1,0,1,1,12,1,0,2,1,1,1,1,1,1,0,1,2,19.20,239,0
7021,1,0,0,0,12,1,0,0,0,0,0,2,2,0,1,1,2,59.80,727.8,1
7022,1,0,0,0,72,1,2,1,0,2,2,0,2,2,1,1,2,104.95,7544.3,0
7023,0,1,1,0,63,1,2,1,0,2,2,0,2,2,0,1,2,103.50,6479.4,0
7024,1,0,1,0,44,1,2,1,2,0,2,0,0,0,0,1,1,84.80,3626.35,0
7025,0,0,0,0,18,1,2,1,0,0,2,2,0,2,0,1,0,95.05,1679.4,0
7026,0,0,0,0,9,1,0,0,0,0,0,0,0,0,0,1,0,44.20,403.35,1
7027,1,0,0,0,13,1,0,0,0,2,0,2,2,2,0,0,3,73.35,931.55,0
7028,0,0,1,0,68,1,0,0,0,2,0,2,2,0,2,0,0,64.10,4326.25,0
7029,0,1,0,0,6,0,1,0,0,0,0,0,2,2,0,1,2,44.40,263.05,0
7030,0,0,0,0,2,1,0,2,1,1,1,1,1,1,0,1,3,20.05,39.25,0
7031,1,1,1,0,55,1,2,0,2,2,0,0,0,0,1,0,1,60.00,3316.1,0
7032,1,1,0,0,1,1,2,1,0,0,0,0,0,0,0,1,2,75.75,75.75,1
7033,1,0,0,0,38,1,0,1,0,0,0,0,0,0,0,1,1,69.50,2625.25,0
7034,0,0,0,0,67,1,2,1,2,2,2,0,2,0,0,1,1,102.95,6886.25,1
7035,1,0,0,0,19,1,0,1,0,0,0,0,2,0,0,1,0,78.70,1495.1,0
7036,0,0,0,0,12,0,1,0,0,2,2,2,2,2,1,0,2,60.65,743.3,0
7037,0,0,0,0,72,1,0,2,1,1,1,1,1,1,2,1,0,21.15,1419.4,0
7038,1,0,1,1,24,1,2,0,2,0,2,2,2,2,1,1,3,84.80,1990.5,0
7039,0,0,1,1,72,1,2,1,0,2,2,0,2,2,1,1,1,103.20,7362.9,0
7040,0,0,1,1,11,0,1,0,2,0,0,0,0,0,0,1,2,29.60,346.45,0
7041,1,1,1,0,4,1,2,1,0,0,0,0,0,0,0,1,3,74.40,306.6,1
7042,1,0,0,0,66,1,0,1,2,0,2,2,2,2,2,1,0,105.65,6844.5,0

In [12]:
df['gender'] = df['gender'].astype('int64')
df['Partner'] = df['Partner'].astype('int64')
df['Dependents'] = df['Dependents'].astype('int64')
df['PhoneService'] = df['PhoneService'].astype('int64')
df['MultipleLines'] = df['MultipleLines'].astype('int64')
df['InternetService'] = df['InternetService'].astype('int64')
df['OnlineSecurity'] = df['OnlineSecurity'].astype('int64')
df['OnlineBackup'] = df['OnlineBackup'].astype('int64')
df['DeviceProtection'] = df['DeviceProtection'].astype('int64')
df['TechSupport'] = df['TechSupport'].astype('int64')
df['StreamingTV'] = df['StreamingTV'].astype('int64')
df['StreamingMovies'] = df['StreamingMovies'].astype('int64')
df['Contract'] = df['Contract'].astype('int64')
df['PaperlessBilling'] = df['PaperlessBilling'].astype('int64')
df['PaymentMethod'] = df['PaymentMethod'].astype('int64')
df['Churn'] = df['Churn'].astype('int64')
df['TotalCharges'] = df['TotalCharges'].astype('float64')

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7032 entries, 0 to 7042
Data columns (total 20 columns):
gender              7032 non-null int64
SeniorCitizen       7032 non-null int64
Partner             7032 non-null int64
Dependents          7032 non-null int64
tenure              7032 non-null int64
PhoneService        7032 non-null int64
MultipleLines       7032 non-null int64
InternetService     7032 non-null int64
OnlineSecurity      7032 non-null int64
OnlineBackup        7032 non-null int64
DeviceProtection    7032 non-null int64
TechSupport         7032 non-null int64
StreamingTV         7032 non-null int64
StreamingMovies     7032 non-null int64
Contract            7032 non-null int64
PaperlessBilling    7032 non-null int64
PaymentMethod       7032 non-null int64
MonthlyCharges      7032 non-null float64
TotalCharges        7032 non-null float64
Churn               7032 non-null int64
dtypes: float64(2), int64(18)
memory usage: 1.4 MB

In [14]:
df.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,0,0,1,0,1,0,1,0,0,2,0,0,0,0,0,1,2,29.85,29.85,0
1,1,0,0,0,34,1,0,0,2,0,2,0,0,0,1,0,3,56.95,1889.50,0
2,1,0,0,0,2,1,0,0,2,2,0,0,0,0,0,1,3,53.85,108.15,1
3,1,0,0,0,45,0,1,0,2,0,2,2,0,0,1,0,0,42.30,1840.75,0
4,0,0,0,0,2,1,0,1,0,0,0,0,0,0,0,1,2,70.70,151.65,1

# Model Selection

In [51]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
clf = RandomForestClassifier()

In [114]:
X = df.iloc[:,[0,1,2,3,6,7,8,9,10,11,13,14,15,16,17,18]]
y = df.iloc[:,-1]

In [115]:
X

,gender,SeniorCitizen,Partner,Dependents,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges
0,0,0,1,0,1,0,0,2,0,0,0,0,1,2,29.85,29.85
1,1,0,0,0,0,0,2,0,2,0,0,1,0,3,56.95,1889.50
2,1,0,0,0,0,0,2,2,0,0,0,0,1,3,53.85,108.15
3,1,0,0,0,1,0,2,0,2,2,0,1,0,0,42.30,1840.75
4,0,0,0,0,0,1,0,0,0,0,0,0,1,2,70.70,151.65
5,0,0,0,0,2,1,0,0,2,0,2,0,1,2,99.65,820.50
6,1,0,0,1,2,1,0,2,0,0,0,0,1,1,89.10,1949.40
7,0,0,0,0,1,0,2,0,0,0,0,0,0,3,29.75,301.90
8,0,0,1,0,2,1,0,0,2,2,2,0,1,2,104.80,3046.05
9,1,0,0,1,0,0,2,2,0,0,0,1,0,0,56.15,3487.95
10,1,0,1,1,0,0,2,0,0,0,0,0,1,3,49.95,587.45
11,1,0,0,0,0,2,1,1,1,1,1,2,0,1,18.95,326.80
12,1,0,1,0,2,1,0,0,2,0,2,1,0,1,100.35,5681.10
13,1,0,0,0,2,1,0,2,2,0,2,0,1,0,103.70,5036.30
14,1,0,0,0,0,1,2,0,2,2,2,0,1,2,105.50,2686.05
15,0,0,1,1,2,1,2,2,2,2,2,2,0,1,113.25,7895.15
16,0,0,0,0,0,2,1,1,1,1,1,1,0,3,20.65,1022.95
17,1,0,0,1,2,1,2,0,2,0,2,2,0,0,106.70,7382.25
18,0,0,1,1,0,0,0,0,2,2,0,0,0,1,55.20,528.35
19,0,0,0,0,0,1,0,2,2,0,2,0,1,2,90.05,1862.90
20,1,1,0,0,1,0,0,0,2,0,2,0,1,2,39.65,39.65
21,1,0,1,0,0,2,1,1,1,1,1,1,0,0,19.80,202.25
22,1,0,0,0,0,2,1,1,1,1,1,0,0,3,20.15,20.15
23,0,0,1,0,2,0,0,2,0,2,0,2,1,1,59.90,3505.10
24,1,0,1,1,0,0,2,2,0,2,0,0,0,1,59.60,2970.30
25,0,0,0,0,0,0,2,2,0,0,0,0,1,0,55.30,1530.60
26,1,0,1,1,2,1,0,2,0,0,2,0,1,2,99.35,4749.15
27,1,0,1,1,1,0,0,2,0,0,0,0,0,2,30.20,30.20
28,1,0,1,0,2,0,2,2,2,2,2,2,1,1,90.25,6369.45
29,0,0,0,1,0,0,0,0,0,0,2,0,1,3,64.70,1093.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7013,0,0,0,0,2,1,0,2,2,0,0,0,1,0,93.40,3756.40
7014,1,0,0,0,2,1,0,2,0,0,0,0,1,2,89.20,3645.75
7015,1,1,1,0,0,1,0,0,2,0,0,0,1,1,85.20,2874.45
7016,0,0,0,0,0,0,0,2,0,0,0,0,0,2,49.95,49.95
7017,0,0,0,0,0,2,1,1,1,1,1,2,0,0,20.65,1020.75
7018,1,0,1,1,0,1,0,0,0,0,0,0,1,3,70.65,70.65
7019,0,0,0,0,0,2,1,1,1,1,1,2,0,3,20.15,826.00
7020,1,0,1,1,0,2,1,1,1,1,1,0,1,2,19.20,239.00
7021,1,0,0,0,0,0,0,0,0,2,0,1,1,2,59.80,727.80
7022,1,0,0,0,2,1,0,2,2,0,2,1,1,2,104.95,7544.30
7023,0,1,1,0,2,1,0,2,2,0,2,0,1,2,103.50,6479.40
7024,1,0,1,0,2,1,2,0,2,0,0,0,1,1,84.80,3626.35
7025,0,0,0,0,2,1,0,0,2,2,2,0,1,0,95.05,1679.40
7026,0,0,0,0,0,0,0,0,0,0,0,0,1,0,44.20,403.35
7027,1,0,0,0,0,0,0,2,0,2,2,0,0,3,73.35,931.55
7028,0,0,1,0,0,0,0,2,0,2,0,2,0,0,64.10,4326.25
7029,0,1,0,0,1,0,0,0,0,0,2,0,1,2,44.40,263.05
7030,0,0,0,0,0,2,1,1,1,1,1,0,1,3,20.05,39.25
7031,1,1,1,0,2,0,2,2,0,0,0,1,0,1,60.00,3316.10
7032,1,1,0,0,2,1,0,0,0,0,0,0,1,2,75.75,75.75
7033,1,0,0,0,0,1,0,0,0,0,0,0,1,1,69.50,2625.25
7034,0,0,0,0,2,1,2,2,2,0,0,0,1,1,102.95,6886.25
7035,1,0,0,0,0,1,0,0,0,0,0,0,1,0,78.70,1495.10
7036,0,0,0,0,1,0,0,2,2,2,2,1,0,2,60.65,743.30
7037,0,0,0,0,0,2,1,1,1,1,1,2,1,0,21.15,1419.40
7038,1,0,1,1,2,0,2,0,2,2,2,1,1,3,84.80,1990.50
7039,0,0,1,1,2,1,0,2,2,0,2,1,1,1,103.20,7362.90
7040,0,0,1,1,1,0,2,0,0,0,0,0,1,2,29.60,346.45
7041,1,1,1,0,2,1,0,0,0,0,0,0,1,3,74.40,306.60
7042,1,0,0,0,0,1,2,0,2,2,2,2,1,0,105.65,6844.50

In [116]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42,shuffle = False)
y_train = y_train.reshape(-1,1)
y_test = y_test.reshape(-1,1)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: reshape is deprecated and will raise in a subsequent release. Please use .values.reshape(...) instead

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: reshape is deprecated and will raise in a subsequent release. Please use .values.reshape(...) instead
  This is separate from the ipykernel package so we can avoid doing imports until

In [117]:
len(X_train)

4711

In [118]:
len(X_test)

2321

In [119]:
clf.fit(X_train,y_train)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [120]:
clf.feature_importances_

array([ 0.02957308,  0.02344769,  0.02383231,  0.02130798,  0.02640816,
        0.02367956,  0.04100701,  0.03987614,  0.0225154 ,  0.03450276,
        0.02078634,  0.09958127,  0.02712828,  0.05641222,  0.23548688,
        0.27445493])

In [121]:
pred = clf.predict(X_test)

In [122]:
confusion_matrix(y_test, pred)

array([[1538,  148],
       [ 370,  265]], dtype=int64)

In [123]:
accuracy_score(y_test, pred)

0.77682033606204226

In [141]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression(n_jobs=4,random_state=0)

In [142]:
lr.fit(X_train,y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:1300: UserWarning: 'n_jobs' > 1 does not have any effect when 'solver' is set to 'liblinear'. Got 'n_jobs' = 4.
  " = {}.".format(effective_n_jobs(self.n_jobs)))

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn', n_jobs=4,
          penalty='l2', random_state=0, solver='warn', tol=0.0001,
          verbose=0, warm_start=False)

In [143]:
pred2 = lr.predict(X_test)

In [144]:
lr.score(X_test, y_test)

0.79319258940112025

In [145]:
confusion_matrix(y_test, pred2)

array([[1522,  164],
       [ 316,  319]], dtype=int64)

In [146]:
from sklearn.metrics import classification_report
print(classification_report(y_test, pred2))

              precision    recall  f1-score   support

           0       0.83      0.90      0.86      1686
           1       0.66      0.50      0.57       635

   micro avg       0.79      0.79      0.79      2321
   macro avg       0.74      0.70      0.72      2321
weighted avg       0.78      0.79      0.78      2321